.navbar {
    background-color: #333;
    width: 100%;
    padding: 17px;
    margin: 0;
    font-size: 26px;
    font-family: sans-serif;
    position: relative;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.navbar-list li {
    margin: 0 15px;
}

.navbar-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-list a:hover {
    background-color: yellow;
    color: black;
}
.Logo{
    display: flex;
    position: absolute;
    top: 30px;
    background-color: yellow;
    width: 0;
    cursor: pointer;
    left: 70px;
}
.txt{
    position: relative;
    color: yellow;
    font-weight: bolder;
    bottom: 10px;
    margin-right: 10px;
}
.Default{
    background-color: goldenrod;
}