.app-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .page-container {
    position: absolute;
    top: 60px; /* Adjust this value to match your navbar height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }